<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.topple"
        versionCode = "1"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Topple</name>

    <description>
        Topple
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        James Parker
    </author>

    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />

</widget>
